.blog-card-container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;    
}

.blog-card {
    padding: 20px 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
    background: whitesmoke;
    border-radius: 12px;
    border: 2px solid gray;
}

.blog-card:hover {
    transition: all 0.2s ease-out;
}

.blog-info {
    display: flex;
    justify-content: space-between;
}

.blog-card img {
    width: 250px;
    height: 200px;
}

.blog-card-right {
    padding-left: 20px;
    margin-top: -10px;
}

.blog-content {
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    line-height: X;        
    max-height: X*N;      
}

.blog-category {
    background-color: yellow;
    padding: 8px;
    border-radius: 9px;
    font-size: 15px;
}

.blog-author {
    margin-top: -1px;
}

.read-more-btn-holder {
    margin-top: 20px;
    justify-content: flex-end;
    display: flex;
}

.read-more-btn {
    background: #33B7FF;
    padding: 7px 14px;
    border: none;
    border-radius: 9px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
}

.delete-btn {
    background: red;
    padding: 7px 14px;
    border: none;
    border-radius: 9px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}

.update-btn {
    background: lightgreen;
    padding: 7px 14px;
    border: none;
    border-radius: 9px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
}

.loading {
    height: 50vh;
    color: black;
    display: grid;
    align-items: center;
    text-align: center;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid black; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 48%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media(max-width: 576px) {
      .loader {
          left: 45%;
      }
  }

/* CSS for Dev Cards */
.github-btn {
    background: black;
    color: whitesmoke;
    padding: 7px 14px;
    border: none;
    border-radius: 9px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
}

.dev-pic {
    width: 200px !important;
    height: 225px !important;
    border-radius: 7px;
}

/* MODAL BTN */
#modalBtn {
    position: fixed; 
    bottom: 12px;
    right: 10px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #555; 
    color: white; 
    cursor: pointer; 
    padding: 9px 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

@media(max-width: 426px){
    .blog-card-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .blog-card {
        flex-direction: column;
        align-items: center;
    }

    .blog-info {
        flex-direction: column;
    }
    
    .blog-card img {
        width: 350px;
        height: 175px;
    }
    
    .blog-card-right {
        padding-left: 0px;
        margin-top: 0px;
    }

    .blog-content {
        margin-top: 0px;    
    }

    .blog-category {
        font-size: 12px;
    }

    .blog-author {
        margin-top: 0px;
    }

    .dev-pic {
        width: 200px !important;
        height: 225px !important;
        border-radius: 7px;
    }
}