.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 6px -6px #999;;
}

.blogify-logo {
    width: 300px;
}

.navbar .nav-list {
    color: black !important;
    display: flex;
}

.navbar .nav-list li {
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    font-size: 1.4rem;
    padding: 3px 10px;
    padding-bottom: 3px;
    cursor: pointer;
}

.current-user-info {
    border: 2px solid gray;
    border-radius: 50px;
    background-color: whitesmoke;
    padding: 8px 15px !important;
    margin-right: 100px !important;
}